<div class="container">
  <h1 class="title">My Facebook</h1>
  <p id="notice"><%= notice %></p>    
    <div class="contents">
      <p><%= link_to 'All Posts', blogs_path %></p>
      <p><%= link_to 'Make new Post', new_blog_path %></p>
    </div>
</div>
